@font-face {
    font-family: 'media';
    src: url('./iframes/style/Circular/CircularStd-Medium.otf');
}
:root{
    --colorMain: #181818;
    --colorHeader: #000000;

    --font-media: 'media';
}
*{
    margin: 0px;
    box-sizing: border-box;
    z-index: 1;
}
body{
    display: flex;
}
header{
    background-color: var(--colorHeader);

    width: 190px;
    height: 100vh;   
}
header > div#logo{
    width: 94%;
    height: 92px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > div#logo > a > img{
    width: 131px;
    height: 39px;
}
header > nav > ul {
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 25px;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
header > nav > ul > li > a{
    width: fit-content;

    font-family: 'media';
    color: white;
    text-decoration: none;  
    display: flex;
    gap: 10px;
}
header > nav > ul > li#home > a > span{
    height: 100%;
    margin: 7px 0px 0px 0px;
}header > nav > ul > li#pesquisa > a > span{
    margin: 3px 0px 0px 0px;
}
header > nav > ul > li#library > a > span{
    margin: 3px 0px 0px 0px;
}
header > div#cq > div#square{
    width: 24px;
    height: 24px;
    background-color: #b2b2b2;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > div#cq > div#square:hover{
    background-color: white;
}
header > div#cq > div#square > div > div{
    width: 2px;
    height: 12px;
    background-color: #585858;
}
header > div#cq > div#square > div > div:first-child{
    transform: translate(0px, 50%);
    
}
header > div#cq > div#square > div > div:last-child{
    transform: translate(-300%, 0%);
    rotate: 90deg;
}



main{
    background-color: var(--colorMain);
    
    width: 100vw;
    height: 90px;

    position: absolute;
    top: 100vh;
    
    transform: translate(0px,-100%);
}
div#iframeConteiner > iframe{
    width: calc(100vw - 190px);
    height: calc(100vh - 90px);
}