@font-face {
    font-family: 'media';
    src: url('./iframes/style/Circular/CircularStd-Medium.otf');
}
@font-face {
    font-family: 'padrão-bold';
    src: url('iframes/style/Circular/CircularStd-Bold.otf');
}
@font-face {
    font-family: 'padrão-book';
    src: url('iframes/style/Circular/CircularStd-Book.otf');
}
:root{
    --colorMain: #181818;
    --colorHeader: #000000;

    --font-media: 'media';
}
*{
    margin: 0px;
    box-sizing: border-box;
    z-index: 1;
}
body{
    display: flex;
}
header{
    background-color: var(--colorHeader);

    width: 190px;
    height: 100vh;   
}
header > div#logo{
    width: 94%;
    height: 92px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > div#logo > a > img{
    width: 131px;
    height: 39px;
}
header > nav > ul {
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 25px;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
header > nav > ul > li > a{
    width: fit-content;

    font-family: 'media';
    color: white;
    text-decoration: none;  
    display: flex;
    gap: 10px;
}
header > nav > ul > li#home > a > span{
    height: 100%;
    margin: 7px 0px 0px 0px;
}header > nav > ul > li#pesquisa > a > span{
    margin: 3px 0px 0px 0px;
}
header > nav > ul > li#library > a > span{
    margin: 3px 0px 0px 0px;
}
header > div#cq{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 42px 0px 0px 24px;
}
header > div#cq > div#s > div#square{
    width: 24px;
    height: 24px;
    background-color: #b2b2b2;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > div#cq > div#s{
    display: flex;
}
header > div#cq > div#s > div#square:hover{
    background-color: white;
}
header > div#cq > div#s > div#square > div > div{
    width: 2px;
    height: 12px;
    background-color: #585858;
}
header > div#cq > div#s > div#square > div > div:first-child{
    transform: translate(0px, 50%);
    
}
header > div#cq > div#s > div#square > div > div:last-child{
    transform: translate(-300%, 0%);
    rotate: 90deg;
}
header > div#cq span{
    font-family: 'padrão-bold';
    font-size: 14px;
    color: #b2b2b2;

    margin: 5px 0px 0px 16px ;
}
header > div#cq > div#s:hover > span{
    color: white;
} 
header > div#cq > div#cora{
    display: flex;
}
header > div#cq > div#cora:hover > span{
    color: white;
}

header > div#line{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div#line > div{
    background-color: #282828;

    width: 75%;
    height: 1px;
}
header > div#ps {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 5px 0px 0px 25px;
}
header > div#ps > a{
    text-decoration: none;
}
header > div#ps > a > span{
    font-family: 'padrão-book';
    font-size: 14px;
    color: #a5a5a5;
}
header > div#ps > a > span:hover{
    color: white;
}
header > div#install{
    margin: 150px 0px 0px 25px;
}
header > div#install > a{
    display: flex;
    align-items: center;
    gap: 18px;

    text-decoration: none;
    font-family: 'padrão-bold';
    font-size: 14px;
    color: white;
}
header > div#install > a > span{
    margin: 5px 0px 0px 0px;
}

main{
    background-color: var(--colorMain);
    
    width: 100vw;
    height: 90px;

    position: absolute;
    top: 100vh;
    
    transform: translate(0px,-100%);
}
div#iframeConteiner > iframe{
    width: calc(100vw - 190px);
    height: calc(100vh - 90px);
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 17px 0px 17px;
}
main > div#dadosMusic {
    display: flex;
}
main > div#dadosMusic > div#imgMusic > img{
    width: 55px;
}
main > div#dadosMusic > div#dados{
    margin: 0px 0px 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    font-family: 'padrão-book';
}
main > div#dadosMusic > div#dados > span:first-child{
    color: white;
    font-size: 14px;
}
main > div#dadosMusic > div#dados > span:last-child{
    color: #a5a5a5;
    font-size: 11px;
}
main > div#player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
main > div#player > div#audio{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
audio{
    border: none;
    width: 100px;
    transform: translate(-31%, -21%);
    border-radius: 50%;
}
audio::-webkit-media-controls-panel{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 30px;
    background-color: white;
}
audio::-webkit-media-controls-play-button{
    border-radius: 50%;
    background-color: white;
}
audio::-webkit-media-controls-current-time-display{
    display: none;
}
audio::-webkit-media-controls-time-remaining-display{
    display: none;
}
audio::-webkit-media-controls-timeline{
    display: none;
}
audio::-webkit-slider-thumb{
    display: none;
}
audio::-webkit-media-controls-volume-slider{
    display: none;
}
audio::-webkit-media-controls-mute-button{
    display: none;
}
main > div#player > div#inputTag{
    display: flex;
    align-items: center;
    gap: 10px;
}
main > div#player > div#inputTag > span{
    font-family: 'padrão-book';
    font-size: 12px;
    color: #a5a5a5;
}
main > div#player > div#inputTag > div#conteiner{
    width: 435px;
    height: 4px;
    border-radius: 20px;

    background-color: #585858;
    cursor: pointer;

}
main > div#player > div#inputTag > div#conteiner > div#conteiner2{
    width: 45%;
    height: 4px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}
main > div#player > div#inputTag div#conteiner:hover > div#conteiner2 {
    background-color: #1fdf64;
}
main > div#player > div#inputTag > div#conteiner > div#conteiner2 > div#boll{
    display: none;
    width: 13px;
    height: 13px;

    background-color: white;
    border-radius: 50%;
}
main > div#player > div#inputTag > div#conteiner:hover > div#conteiner2 > div#boll{
    display: block;
}