@font-face {
    font-family: 'padrão';
    src: url('./Circular/CircularStd-Bold.otf');
}
@font-face {
    font-family: 'padrão-bold';
    src: url('Circular/CircularStd-Bold.otf');
}
*{  
    
    margin: 0px;
    box-sizing: border-box;
    z-index: 0;
}

body, html {
    background-image: linear-gradient(180deg, #212121, #121212 12%);
    width: 98vw;
}
html {
    margin: 0px 0px 0px 24px;
    overflow-x: hidden;
}

header{
    width: calc(100% + 24px);
    height: 64.2px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 42px;
    margin: 0px 0px 0px -24px;
    background-color: #000000;

    position: sticky;
    top: -1px;

    z-index: 1;
}
header > div#arrows {
    height: fit-content;

    display: flex;
    gap: 41px;
}
header > div#arrows > img{
    height: 16px;
}
header > div#arrows > img:first-child{
    rotate: 180deg;
}
header > div#ancoras {
    display: flex;
    gap: 18px;
}
header > div#ancoras > div#up{
    border: 1px solid #808080;
    border-radius: 20px;
    padding: 6px 15px;
}
header > div#ancoras > div#up:hover{
    padding: 6px 15px;
    border: 1px solid white;
}
header > div#ancoras > div#up > a{
    font-family: 'padrão';
    cursor: default;
    font-size: 14px;
    font-family: 'padrão-bold';
    color: white;
    text-decoration: none;
}
header > div#ancoras > div#user{
    display: flex;
    align-items: center;
    gap: 10px;
}
header > div#ancoras > div#user > div#perfil{
    background-color: #525252;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;


    width: 27px;
    height: 27px;
}
header > div#ancoras > div#user > div#perfil > img{
    width: 15px;
    height: fit-content;
}
header > div#ancoras > div#user > span{
    color: white;
    font-size: 14px;
    font-family: 'padrão-bold';
}
header > div#ancoras > div#user > div#triangulo{
    width: fit-content;
    height: 15px;
    color: white;
}


main {
    height: fit-content;
    margin: 0px 0px 0px -24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > div#recente{
    margin: 0px 0px 20px 0%;
    width: 1100px;
    display: flex;
    flex-direction: column;
}
main > div#recente > h1 {
    font-family: 'padrão';
    margin: 20px -10px;
    font-size: 24px;
    color: white;
}
main > div#recente > div{
    width: 200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;

    padding: 15px;

    border-radius: 5px;
}
main > div#recente > div:hover{
    background-color: #282828;
}
main > div#recente > div > img {
    border-radius: 50%;
    box-shadow: 0px 0px 30px #000000;
}
main > div#recente > div > h2 {
    font-family: 'padrão';
    font-size: 16px;
    color: white;
}
main > div#recente > div > p{
    font-family: 'padrão';
    color: #808080;
    font-size: 13px;
}
main > div.conteudo{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto 50px auto;
}
main > div > div.links{
    width: 99%;
    display: flex;
    justify-content: space-between;
}
main > div > div.links > div:first-child > a{
    font-family: 'padrão';
    color: white;
    text-decoration: none;
    font-size: 24px;
}
main > div > div.links > div:last-child > a{
    font-family: 'padrão';
    font-size: 12px;
    color: #808080;
    text-decoration: none;
}
main > div > div.links > div a:hover{
    text-decoration: underline;
}
main > div > div.conteudo2{
    display: flex;
    width: 100%;
}
main > div.conteudo > div.conteudo2 > div {
    width: 200px;
    height: 250px;
    background-color: #1d1d1d;
    margin: 0px 10px;
    padding: 15px;
    border-radius: 5px;
}
main > div.conteudo > div.conteudo2 > div:hover{
    background-color: #282828;
}
main > div.conteudo > div.conteudo2 > div > img {
    height: 160px;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #0000009c;
}
main > div.conteudo > div.conteudo2 > div h2{
    font-family: 'padrão';
    color: white;
    font-size: 16px;
    font-family: 'padrão';
    margin: 10px 0px 5px 0px;
}
main > div.conteudo > div.conteudo2 > div p{
    font-family: 'padrão';
    color: #808080;
    font-size: 13px;
    font-family: 'padrão';
}